.box1 {
     float: left;
     padding: 20px;
     background: lightblue;
     width: 50%;
     height: 500px;
}
.box2 {
     float: left;
     padding: 20px;
     background: lightgreen;
     width: 50%;
     height: 500px;
}